.menu-hamburguer {
  display: block;
  text-indent: -9999px;
}

.menu-hamburguer::after,
.menu-hamburguer::before,
.menu-hamburguer > .center {
  content: "";

  display: block;
  width: 25px;
  height: 3px;

  background-color: var(--color-fourth);
  border-radius: 3px;
}

.menu-hamburguer::before,
.menu-hamburguer > .center {
  margin-bottom: 3px;
}
