.boardsquare {
  border: 2px solid var(--color-third);

  display: flex;
  align-items: center;
  justify-content: center;
}

.first {
  border-left: none;
  border-top: none;
}

.second {
  border-top: none;
}

.third {
  border-top: none;
  border-right: none;
}

.fourth {
  border-left: none;
}

.sixth {
  border-right: none;
}

.seventh {
  border-left: none;
  border-bottom: none;
}

.eighth {
  border-bottom: none;
}

.ninth {
  border-bottom: none;
  border-right: none;
}
