.App-header {
  display: flex;
  justify-content: flex-end;

  background-color: #eeeeee;

  padding: 20px 70px;
}

.App-header .about {
  text-decoration: none;
  text-transform: uppercase;

  font-family: Montserrat;
  font-size: 14px;
  font-weight: bold;
  color: #707070;
}
