.App-header {
  display: flex;
  justify-content: flex-end;

  background-color: #eeeeee;

  padding: 20px 70px;
}

.App-header .action {
  text-transform: uppercase;

  font: bold 14px Montserrat, sans-serif;

  color: var(--color-third);
}
