.App-header {
  display: flex;
  justify-content: flex-end;

  background-color: #eeeeee;

  padding: 20px 70px;
}

.App-header .action {
  text-transform: uppercase;
  text-decoration: none;

  font-weight: bold;
  font-size: 14px;

  color: var(--color-fourth);
}
